<div class="btn-group intervals-motion">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	<span id="intervals-current-motion">Upward</span>	
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a tabindex="-1" data-motion="d" href="javascript:void(0);">Downward</a></li>
		<li><a tabindex="-1" data-motion="u" href="javascript:void(0);">Upward</a></li>
		<li><a tabindex="-1" data-motion="h" href="javascript:void(0);">Harmonically</a></li>
	</ul>
</div>