 <div class="btn-group intervals-octave-range">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	Range
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li style="padding: 0 15px;">
			<span class="label">Note: </span>
			The octave range mode has effect only if root note is set to any
		</li>
		<li class="divider"></li>
		<li class="active"><a tabindex="-1" data-octave="1" href="javascript:void(0);">one octave    </a></li>
		<li>               <a tabindex="-1" data-octave="2" href="javascript:void(0);">two octaves   </a></li>
		<li>               <a tabindex="-1" data-octave="3" href="javascript:void(0);">three octaves </a></li>
		<li>               <a tabindex="-1" data-octave="4" href="javascript:void(0);">four octaves  </a></li>
		<li>               <a tabindex="-1" data-octave="5" href="javascript:void(0);">five octaves  </a></li>
	</ul>
</div>