<div class="btn-group intervals-root-note">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	<span class="current-root-note">C</span>
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a tabindex="-1" data-note="random" href="javascript:void(0);">any</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" data-note="C"  href="javascript:void(0);">C  </a></li>
		<li><a tabindex="-1" data-note="C#" href="javascript:void(0);">C# </a></li>
		<li><a tabindex="-1" data-note="D"  href="javascript:void(0);">D  </a></li>
		<li><a tabindex="-1" data-note="D#" href="javascript:void(0);">D# </a></li>
		<li><a tabindex="-1" data-note="E"  href="javascript:void(0);">E  </a></li>
		<li><a tabindex="-1" data-note="F"  href="javascript:void(0);">F  </a></li>
		<li><a tabindex="-1" data-note="F#" href="javascript:void(0);">F# </a></li>
		<li><a tabindex="-1" data-note="G"  href="javascript:void(0);">G  </a></li>
		<li><a tabindex="-1" data-note="G#" href="javascript:void(0);">G# </a></li>
		<li><a tabindex="-1" data-note="A"  href="javascript:void(0);">A  </a></li>
		<li><a tabindex="-1" data-note="A#" href="javascript:void(0);">A# </a></li>
		<li><a tabindex="-1" data-note="B"  href="javascript:void(0);">B  </a></li>
	</ul>
</div>