html * {
	font-family: Arial;
}

a {
    color: #2D84E6;
    text-decoration: none;
}

#menu-section {
    top: 0;
    left: 0;    
    right: 0;
    z-index:10;
    position: absolute;
}

#menu-section .brand {
	position: absolute;
    left: 0;    
    right: 0;
    color: white;    
    height: 60px;

}

#menu-section .brand h1 {
	color: #eef;
	font-size: 30px;
	font-family: 'Poiret One', cursive;
    background: black;    
    position: absolute;
    left: 50px;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 7px 7px #CCCCCC;
}

#menu-section .content {
    height: 0px;
    background: #eef;
    overflow: hidden;    
    border-bottom: solid 5px black; 
    transition-duration: 0.5s, 0.1s;
    transition-property: height, padding;
}


#menu-section .content.enabled {
    height: 200px;   

}

#menu-section .content > div {
	padding: 10px 40px;
}

#menu-section .content > div .block {
	vertical-align: top;
	display: inline-block;
	min-width: 100px;
	padding: 10px 20px;
}

#menu-section .content > div h2 {
	padding:10px 0 2px;
    margin-bottom: 8px; 
	font-size: 1.2em;
    border-bottom: solid 1px #aaa;
}

#menu-section .content > div ul li {
    padding:2px; 
    font-size: 0.8em;
}

#app-section {
    position: absolute;
    top: 0;
    left: 0;    
    right: 0;
    bottom:0;
}
#main-canvas.index {
  border: 1px solid #CCCCCC;
  left: 8px;
  position: absolute;
  top: 15px;
  width: 99%;
  height: 95%;
}