
<div>
	<div id="intervals-minor-second" class="intervals">
		<span>Minor second</span>
	</div>

	<div id="intervals-second" class="intervals">
		<span>Second</span>
	</div>

	<div id="intervals-minor-third" class="intervals">
		<span>Minor third</span>
	</div>
	<div id="intervals-third" class="intervals">
		<span>Third</span>
	</div>
</div>

<div>
	<div id="intervals-fourth" class="intervals">
		<span>Fourth</span>
	</div>

	<div id="intervals-triton" class="intervals">
		<span>Triton</span>
	</div>

	<div id="intervals-fifth" class="intervals">
		<span>Fifth</span>
	</div>
	<div id="intervals-minor-sixth" class="intervals">
		<span>Minor six</span>
	</div>
</div>
<div>	
	<div id="intervals-sixth" class="intervals">
		<span>Sixth</span>
	</div>

	<div id="intervals-minor-seventh" class="intervals">
		<span>Minor seventh</span>
	</div>

	<div id="intervals-seventh" class="intervals">
		<span>Seventh</span>
	</div>

	<div id="intervals-octave" class="intervals">
		<span>Octave</span>
	</div>
</div>	

