<div class="block">
	<h2>Mouvements</h2>
	<ul>
		<li><a href="#move/brown">brownien</a></li>
		<li><a href="#follow/simple">poursuite</a></li>
		<li><a href="#follow/no-bounds">poursuite sans bords</a></li>
		<li><a href="#follow/chain">poursuite chaine</a></li>
		<li><a href="#bees">moucherons</a></li>
	</ul>

</div>
<div class="block">
	<h2>Gravité</h2>
	<ul>
		<li><a href="#cross">Gravité sur un plan</a></li>
		<li><a href="#cross">Gravité sur un tube</a></li>
	</ul>
</div>