<div class="navbar-inner" >
<div class="container">
<a href="javascript:void(0);" class="brand">Dany!</a>

<div class="btn-group pull-left">
  <a class="btn btn-primary" href="./index.html">
    <i class="icon-home icon-white"></i> 
    Home
  </a>  
</div>

<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="">
      <a class="" href="#absolute-ear">Absolute ear</a>
    </li> 
    <li class="">
      <a class="" href="#intervals">Intervals</a>
    </li> 
    <li class="">
      <a class="" href="#chords">Chords</a>
    </li> 
  </ul>
</div>