
html, body {
    height: 101%;
    overflow: hidden;
    width: 101%;
}

body {
	background: #EEEEF6;
}

#ear-trainer-brand {
  background: none repeat scroll 0 0 #333333;
  border-bottom: 1px solid #CC2233;
  box-shadow: -7px 4px 22px #333333;
  color: #EEEEFF;
  height: 50px;
  margin: 0;
}

#ear-trainer-brand h1 {
	padding: 5px;
	margin: 0;
	font-size: 2em;
	font-weight: 400;	
  	font-family: 'Poiret One', cursive;
}


#ear-trainer-brand h1 a {
	color:#eef;
}


.intervals {
	vertical-align: top;
	display: inline-block;
	position: relative;

	padding: 10px;
	margin: 2px;	
	overflow: hidden;
	cursor: pointer;

    color: #eee;
    font-family: helvetica;
    font-size: 1.2em;
    line-height: 15px;

    width: 70px;
    height: 35px;
	
	border-radius: 5px;	
	border: solid 1px #aab;
	background: none repeat scroll 0 0 #999;
	transition: all 0.1s linear 0s;
}

.intervals:hover {
	color: #fefeff;
	box-shadow: 0px 5px 5px #666;
}

#intervals-box .intervals.disabled {
	visibility: hidden;
}

#intervals-box.disable-mode .intervals {
	background: #797;
}

#intervals-box.disable-mode .intervals.disabled {
	visibility: visible;
	background: #755;
}

.note span {
	z-index: 10;
}

.note img {
	height: 100px;
	position: absolute;
	top:0;
	left: 0;
}

button#play, #score {
	height: 40px;
	border: solid 2px #ccc;
	border-radius: 5px;
	font-size: 30px;
	font-family: helvetica;
	color: #EEE;
	background: #555;
	margin-bottom: 10px;
	padding: 0 20px;
	cursor: pointer;
}

#app-section .dropdown-menu li > a {
  line-height: 15px;
}

#app-section  {
	left: 0;
	right: 0;
	position: absolute;
	top:80px;
	bottom: 0;
}

#intervals-box, #controls-box {
	margin: 30px 0;
}

#intervals-disable-intervals {
	text-align: left;
}

#intervals-settings {
	margin-bottom: 10px;
	opacity: 0.6;
}

#intervals-settings.enabled{
	opacity: 1;
}

#intervals-score {
	font-size: 2em;
}

#intervals-errors {
	margin: 0;
	padding: 10px 0;
	list-style: none;
	color:#555;
}

.container.home {
	padding: 30px 80px;
}
