<div class="container home">

	<ul>
		<li><a href="#intervals">Train yourself to recognize intervals</a></li>
		<li><a href="#melody">Train yourself to recognize melody on your instrument</a></li>
	</ul>

</div>