 <div class="btn-group intervals-octave-from">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
	Octave
	<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li>               <a tabindex="-1" data-octave="1" href="javascript:void(0);">first octave   </a></li>
		<li>               <a tabindex="-1" data-octave="2" href="javascript:void(0);">second octave  </a></li>
		<li class="active"><a tabindex="-1" data-octave="3" href="javascript:void(0);">third octave   </a></li>
		<li>               <a tabindex="-1" data-octave="4" href="javascript:void(0);">fourth octave  </a></li>
		<li>               <a tabindex="-1" data-octave="5" href="javascript:void(0);">fifth octave   </a></li>
	</ul>
</div>