<p class="intervals-start-toolbox">
	<button id="intervals-start" class="btn" type="button">
	start trainer
	</button>
</p>
<p class="intervals-play-toolbox" style="display:none;">
	<button id="intervals-play" class="btn" type="button">
		replay
	</button>
	<button id="intervals-stop" class="btn" type="button">
		stop 
	</button>
</p>